[Unit]
Description=Main NNCP tosser

[Service]
ExecStart=/usr/bin/nncp-toss -noprogress -cycle 10
Restart=always
User=nncp
Group=nncp

[Install]
WantedBy=multi-user.target
